.nav-principal{
    ul {
        display: flex;
        gap: 50px;
        align-items: center;
        list-style: none;

        a {
            color: $Black;
            text-decoration: none;
            font-size: 14px;
            font-weight: 300;

            &:hover{
                color: $Magenta;
            }

        }
    }
}